body{
    font-family: Lato;
    color: rgb(233, 233, 233);
    line-height: 1.7em;
}
/* General Controllers/Addable Classes*/

.parent{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 15%;
}

.sizecontrol{
    height: 10vw;
}

.form{
    width: 30%;
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    box-shadow: 12px 12px white, 24px 24px rgb(240, 3, 141);
    background-color: rgb(31, 31, 31);
    border: 10px solid;
    border-image: 1;
    border-image-source: linear-gradient(64deg, rgb(134, 32, 160), rgb(255, 0, 149));
}
/* Container for internal floating text */
.float-container{
    position: relative;
}
.inner-label{
    position: absolute;
    opacity: .7;
}
.outer-label{
    font-size: 1.2em;
}
/* Inputbox styling */
input{
    height: 1.5em;
}
select{
    height: 1.5em;
}
input[type=text] {
    border: 0;
    outline: 0;
    width: 55%;
    background: transparent;
    color: rgb(233, 233, 233);
    border-bottom: 2px solid rgb(234, 149, 255);
    transition: 120ms ease-in;
}
input[type=text]:focus {
    transition: 120ms ease-in;
    color: rgb(31, 31, 31);
    background: rgb(252, 238, 255);
}

input[type=text].active ~ label{
    transform: translate(0, 4px) scale(.75);
}

input[type=text].active ~ label{
    transform: translate(0, 4px) scale(.75);
}

/* form main heading */
#form-title{
    font-size: 4em;
    font-weight: 700;
    line-height: .1em;
}
/* form section heading*/
.section-header{
    font-size: 1.2em;
    font-weight: 400;
}

/* password input styling */
input[type = password]{
    border: 0;
    outline: 0;
    background: transparent;
    width: 55%;
    color: rgb(233, 233, 233);
    border-bottom: 2px solid rgb(234, 149, 255);
    transition: 120ms ease-in;
}
input[type=password]:focus{
    transition: 120ms ease-in;
    color: rgb(31, 31, 31);
    background: rgb(252, 238, 255);
}
/*password button styling*/
.password-toggle-button{
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: rgb(233, 233, 233);
    margin: 0%;
    transition: 60ms ease-in;
}
.password-toggle-button:hover{
    opacity: .4;
    transition: 60ms ease-in;
}

/*Password warning text*/
.warn-text{
    line-height: 3em;
    font-size: .8em;
    color: rgba(255, 25, 94, 0.842);
    font-style: italic;
    pointer-events: none;
    user-select: none;
}

.password-match{
    line-height: 3em;
    font-size: .8em;
    color: rgba(255, 25, 94, 0.842);
    font-style: italic;
    pointer-events: none;
    user-select: none;
}

/*custom select menus*/
#state{
    border: 0;
    outline: 0;
    background: transparent;
    width: 40%;
    border-bottom: 2px solid rgb(234, 149, 255);
    color: rgb(233, 233, 233);
    transition: 120ms ease-in;
}
#state:hover{
    transition: 120ms ease-in;
    background: rgb(252, 238, 255);
    transition: 120ms ease-in;
    color: rgb(31, 31, 31);
}

#state:focus{
    transition: 120ms ease-in;
    background: rgb(252, 238, 255);
    transition: 120ms ease-in;
    color: rgb(31, 31, 31);
}

#country{
    border: 0;
    outline: 0;
    background: transparent;
    width: 40%;
    color: rgb(233, 233, 233);
    border-bottom: 2px solid rgb(234, 149, 255);
    transition: 120ms ease-in;
}
#country:hover{
    transition: 120ms ease-in;
    background: rgb(252, 238, 255);
    color: rgb(31, 31, 31);
    transition: 120ms ease-in;
}
#country:focus{
    transition: 120ms ease-in;
    background: rgb(252, 238, 255);
    transition: 120ms ease-in;
    color: rgb(31, 31, 31);
}

/* submit button*/
.form-submit{
    background-color: transparent;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 15%;
    border: 3px solid rgb(193, 81, 221);
    color: rgb(252, 238, 255);
    font-size: 1.05em;
    transition: 110ms ease-in;
    justify-content: center;
}
.form-submit:hover{
    background-color: rgb(193, 81, 221);
    border-radius: 5%;
    transition: 110ms ease-in;
}
.form-submit:active{
    background-color: rgb(255, 61, 223);
    border: 3px solid rgb(255, 61, 223);
    transition: 20ms ease-in;
}
